* {
	box-sizing: border-box;
}


html, body {
	margin: 0;
	padding: 0;
	background-color: rgba(9.4, 10.2, 10.6);
	color: white;
}

.nav ul {
	margin: 0;
}

.nav li {
	display: inline;
	
}

.nav a {
	padding: .2em;
	color: white;
	text-decoration: none;
}

.main-nav {
	padding-top: 1em;
	text-align: left;
	font-size: 1.25em;
	font-weight: lighter;
}

.main-nav li {
	padding: 0 0.5%;
}


.nav a:hover {
	background-color: rgba(255, 255, 255, 0.3)
}


.main-header {
	
	background-image: url("images/navBackground.jpg");
	background-blend-mode: multiply;
	background-size: cover;
	background-position: 50% 5%;
	padding-bottom: 1.55em;
}

.content-section {
	margin: 1em;
}

.container {
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1.5em;
	font-size: 125%;
}


.inline-content-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	height: auto;
	width: auto\9;
}
